.filters
  - listing.filter_values.each do |k,v|
    %ul.nav.nav-list.well
      %li.nav-header
        = "Filter by #{k}"
      - v.each do |x|
        %li.filter
          %a{:href => '#', :'data-key' => k, :'data-value' => x}
            = x
            %i.icon-remove

