.filters
  - listing.filters.each do |filter_view|
    %ul.nav.nav-list.well
      %li.nav-header
        = "Filter by #{filter_view.key}"
      - filter_view.values.each do |value|
        %li.filter
          %a{:href => '#', :'data-key' => filter_view.key, :'data-value' => value}
            = value
            %i.icon-remove

