.listing{:id => listing.name, :'data-url' => listing.url, :'data-search' => listing.search_data.to_json }
  = listings_partial_render 'table_full', listing

:javascript
  $(function() {
    jQuery("##{listing.name}.listing").trigger("listings:loaded", { element: jQuery("##{listing.name}.listing") });
  });
