.listings-table-content
  - unless listing.items.empty?
    %table.table.table-hover
      %thead
        - listing.columns.each do |col|
          %th
            = col.human_name(listing)

      %tbody
        - listing.items.each do |item|
          %tr
            - listing.columns.each do |col|
              %td
                = listing.value_for(col, item)

    = paginate listing.items, :remote => true, :theme => 'twitter-bootstrap', :params => listing.params, :remote => true

  - else
    .well
      = listing.no_data_message
