- unless listing.scopes.empty? && !listing.searchable?
  %ul.nav.nav-pills
    - listing.scopes.each do |scope|
      %li{class: "#{'active' if listing.is_active_scope(scope)}"}
        = link_to scope.human_name, listing.url_for_scope(scope), :remote => true
    - if listing.searchable?
      %li.pull-right
        %form.form-search{:action => listings.listing_content_url(listing.name), :'data-remote' => true}
          - listing.scoped_params.each do |key,value|
            %input{type: 'hidden', name: key, value: value}
          %input.search-query{name: listing.param_search, value: listing.scoped_params[listing.param_search], placeholder: listing.search_placeholder}

= render 'listings/table_content', :listing => listing