.row-fluid
  %div{:class => listing.render_filters_at?(:side) ? 'span10' : 'span12'}
    - if !listing.scopes.empty? || listing.searchable? || listing.filterable?
      .row-fluid
        .span12
          = listings_partial_render 'header', listing
    .row-fluid
      .span12
        = render 'listings/table_content', :listing => listing
  - if listing.render_filters_at?(:side)
    .span2
      = render 'listings/side_filters', :listing => listing
