<!DOCTYPE html>
<html>
<head>
  <title>Listings</title>
  <%= stylesheet_link_tag    "listings/application", :media => "all" %>
  <%= javascript_include_tag "listings/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
