// Border Radius
@mixin lstngs-border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
          border-radius: $radius;
}

.sortable {
  a {
    color: inherit;
  }
  a:hover {
    text-decoration: none;
  }
  a:after {
    content: ' \2195';
    color: #ccc;
  }
  a:hover:after {
    content: ' \2191';
    color: inherit;
  }

  &.asc {
    a:after {
      content: ' \2191';
      color: #ccc;
    }
    a:hover:after {
      content: ' \2193';
      color: inherit;
    }
  }

  &.desc {
    a:after {
      content: ' \2193';
      color: #ccc;
    }
    a:hover:after {
      content: ' \2191';
      color: inherit;
    }
  }
}

.listing {
  th { white-space: nowrap; }
  th.batch-selection-header { width: 50px; }
  td li { word-break: break-word; }

  .form-filter {
    margin-top: 10px;
  }

  .input-append {
    input[type='text'] {
      @include lstngs-border-radius(4px 0 0 4px);
      height: 32px;
      line-height: 32px;
    }
  }

  ul.applied-filters {
    list-style: none;
    margin: 0 0 10px 0;
    padding: 0;

    li {
      display: inline-block;
      margin-right: 5px;

      .remove {
        margin-right: 3px;
      }
    }
  }
}
